{% extends "layout.html" %}

{% block title %}Blog{% endblock %}

{% block content %}
<div class="col container p-2">
    {% for category in Categorys %}
    <h2>{{category.title}}</h2>
    <div class="row">
        {% for post in Posts %}
        {% for post_category in post.category.all %}
        {% if post_category == category %}

        {% include "includes/widget/port_card.html" %}
        {% include "includes/widget/port_card.html" %}
        {% include "includes/widget/port_card.html" %}
        {% include "includes/widget/port_card.html" %}
        {% include "includes/widget/port_card.html" %}
        {% include "includes/widget/port_card.html" %}
        {% include "includes/widget/port_card.html" %}
        {% include "includes/widget/port_card.html" %}
        {% include "includes/widget/port_card.html" %}
        {% include "includes/widget/port_card.html" %}
        {% include "includes/widget/port_card.html" %}
        {% include "includes/widget/port_card.html" %}
        {% include "includes/widget/port_card.html" %}
        {% include "includes/widget/port_card.html" %}
        {% include "includes/widget/modal.html" %}

        {% endif %}
        {% endfor %}
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}