<!-- The Modal -->
<div class="modal" id="{{post.slug}}">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable ">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">{{post.title}}</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="row gap-1">
                    <div class="col">
                        <img src="{{post.thumbnail.url}}" class="card-img-top img-fluid" alt="...">
                    </div>
                    <div class="col">
                        <h2>Overview</h2>
                        <h6>{{post.overview}}</h6>
                    </div>
                </div>
                <!-- <div class="p-1">
                    <a href="{{post.slug}}" class=" btn btn-primary  container-fluid" aria-current="page">Go
                        somewhere</a>
                </div> -->

            </div>

        </div>
    </div>
</div>