<!-- The Card -->

<!-- href="{{post.slug}}" -->

<div class="col-sm">
    <div class="card p-0" style="width: 280px;">
        <a href="{{post.slug}}">
            <img src="{{post.thumbnail.url}}" class="card-img-top img-fluid" alt="..."
                style="height: 8rem; object-fit: cover;">
        </a>
        <div class="card-body pt-2">
            <div class="overflow-x-auto pb-2">
                <div class="d-inline-flex gap-1">
                    {% for post_category in post.category.all %}
                    <a href="#" class="btn btn-primary btn-sm"
                        style="  --bs-btn-padding-y: .10rem;">{{post_category}}</a>
                    {% endfor %}
                </div>
            </div>
            <h6 class="card-title"><small>{{post.title}}</small></h6>

            <!-- <div class="container">
            <div class="row">

                <h6 class="col">a</h6>
                <h6 class="col">a</h6>
                <h6 class="col">a</h6>
                <h6 class="col">a</h6>
            </div>
        </div> -->

            <div class="card-link btn-group container p-0">
                <a href="{{post.slug}}" class=" btn btn-primary  btn-sm" aria-current="page">Go</a>
                <a href="#" class="btn btn-primary  btn-sm" data-bs-toggle="modal" data-bs-target="#{{post.slug}}">s</a>
            </div>

        </div>
    </div>
</div>