<footer class="bg-secondary text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-4 col-md-8 mb-4 mb-md-0">
        <h5 class="mb-4">About</h5>

        <p>
          About Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam
        </p>
        <p><span class="fw-bold">Email </span> : info@jstemplate.net</p>
        <p><span class="fw-bold">Phone </span> : 880 123 456 789</p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-4 mb-4 mb-md-0">
        <h5 class="mb-4">Quick Link</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="nav-link">Home</a>
          </li>
          <li>
            <a href="#!" class="nav-link">About</a>
          </li>
          <li>
            <a href="#!" class="nav-link">Blog</a>
          </li>
          <li>
            <a href="#!" class="nav-link">Archived</a>
          </li>
          <li>
            <a href="#!" class="nav-link">Author</a>
          </li>
          <li>
            <a href="#!" class="nav-link">Contact</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-4 mb-4 mb-md-0">
        <h5 class="mb-4">Category</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="nav-link">Lifestyle</a>
          </li>
          <li>
            <a href="#!" class="nav-link">Technology</a>
          </li>
          <li>
            <a href="#!" class="nav-link">Travel</a>
          </li>
          <li>
            <a href="#!" class="nav-link">Business</a>
          </li>
          <li>
            <a href="#!" class="nav-link">Economy</a>
          </li>
          <li>
            <a href="#!" class="nav-link">Sports</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0 text-center">
        <h5 class="mt-4">Weekly Newsletter</h5>
        <p class="fw-semibold">Get blog articles and offers via email</p>
        <div class=" ">
          <!-- Email input -->
          <div class="form-outline form-white mb-4">
            <input type="email" id="form5Example29" class="form-control" placeholder="Email address" />
          </div>
          <button type="submit" class="btn btn-outline-light col-12">
            Subscribe
          </button>
        </div>
        <!--Grid column-->

        <!--Grid column-->
      </div>
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div style="background-color: rgba(0, 0, 0, 0.2)">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-8 p-4">
          <a href="#" class="navbar-brand">
            <img src="/static/assets/icons/Logo-Footer.svg" />
          </a>
          <div class="d-sm-inline">
            <a class="text-white" href="https://mdbootstrap.com/">Meta <span>Blog</span></a>
            <a class="text-white ">
              © JS Template 2023. All Rights Reserved.
            </a>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 mb-4 mb-md-0 p-4 hstack gap-5 ">
          <a class="text-white nav-link">Terms of Use</a>
          <a class="text-white nav-link">Privacy Policy</a>
          <a class="text-white nav-link">Cookie Policy</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Copyright -->
</footer>