<!-- NavBar -->
{% load static %}

<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">
      <img src="{% static 'assets/icons/Logo.svg' %}" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
      aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px">
        <li class="nav-item">
          <a href="/home" class="nav-link active">Home</a>
        </li>
        <li class="nav-item">
          <a href="/blog" class="nav-link">Blog</a>
        </li>
        <li class="nav-item">
          <a href="/contact" class="nav-link">Single Post</a>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link ">Page</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link ">Contact</a>
        </li>
      </ul>
      <form class="d-flex form-outline">
        <input type="text" class="form-control" placeholder="Search" />
        <span class="input-group-text border-0" id="search-addon">
          <i class="bi bi-search"></i>
        </span>
      </form>
    </div>

    <button onclick="console.log(this)">Click me!</button>

    <script>
      function consoleLog(element) {
        console.log(element.tagName, element.textContent);
      }
    </script>

    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" id="btnSwitch" checked>
      <i class="bi bi-brightness-high-fill"></i>
      <label class="form-check-label" for="flexSwitchCheckChecked"></label>
    </div>
  </div>

</nav>
<!-- NavBar -->