<footer class="bg-body-tertiary text-center text-lg-start ">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-3">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-dark">Text</a></li>
                    <li><a href="#" class="text-dark">Text</a></li>
                    <li><a href="#" class="text-dark">Text</a></li>
                    <li><a href="#" class="text-dark">Text</a></li>
                    <li><a href="#" class="text-dark">Text</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-dark">Text</a></li>
                    <li><a href="#" class="text-dark">Text</a></li>
                    <li><a href="#" class="text-dark">Text</a></li>
                    <li><a href="#" class="text-dark">Text</a></li>
                    <li><a href="#" class="text-dark">Text</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-dark">Text</a></li>
                    <li><a href="#" class="text-dark">Text</a></li>
                    <li><a href="#" class="text-dark">Text</a></li>
                    <li><a href="#" class="text-dark">Text</a></li>
                    <li><a href="#" class="text-dark">Text</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-dark">Text</a></li>
                    <li><a href="#" class="text-dark">Text</a></li>
                    <li><a href="#" class="text-dark">Text</a></li>
                    <li><a href="#" class="text-dark">Text</a></li>
                    <li><a href="#" class="text-dark">Text</a></li>
                </ul>
            </div>
        </div>

    </div>
    <div class="text-center p-3">
        © Copyright:
        <a href="#" class="text-dark">Test</a>
    </div>
</footer>