<!-- NavBar -->
<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">test</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a href="/home" class="nav-link active">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/blog" class="nav-link">Blog</a>
                </li>
                <li class="nav-item">
                    <a href="/contact" class="nav-link">Contact</a>
                </li>

                <li class="nav-item ">
                    <a href="#" class="nav-link disabled">Home</a>
                </li>
            </ul>
            <form class="d-flex">
                <input type="text" class="form-control" placeholder="Search">
                <button class="btn" type="submit">Search</button>
            </form>
        </div>
    </div>
    <button id="btnSwitch"></button>
</nav>
<!-- NavBar -->